{% extends 'base.html' %}
{% block body %}

<h1>Johan Hay</h1>
<h2>Software developer</h2>

<p id="intro">
    Dedicated to producing high-quality work, flexible with the tech stack and
    happy to learn a new language or framework.
</p>
<div class="container">
    <div class="box">
        <h3>Experience</h3>
        <div class="hiddentxt" id="experience">
            <h4>University Projects (2018-2021)</h4>
            <ul>
                <li>Built a program that solves Sudoku puzzles with Machine Learning.</li>
                <li>Built a website with a team that recommends restaurants using Flask.</li>
                <li>Made several Client-Server networking projects, including a chat room, a program for online<br>voice and file-sharing systems.</li>
                <li>Programmed a multithreaded AI to play Othello. Achieved a mark of 93%.</li>
                <li>Worked with a team on a Line Haul optimiser for Pepkor. Worked on the database and backend of<br>the project.</li>
            </ul>
            <h4>Roles and responsibilities at Pepkor IT (01/01/2022 - present)</h4>
            <ul>
                <li>Worked on the Frontend and Backend for several projects using Django and Angular. This<br>includeddesigning software used to manage stock in the distribution centres.</li>
                <li>Support and maintenance work, which mostly involved solving problems in the database using<br>PL/SQL.</li>
                <li>Redesigned old software. This included analysing software written in C# and creating a new web<br>app with similar functionality.</li>
                <li>Received training for required skills, such as Angular and PL/SQL.</li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h3>Education</h3>
        <ul class="hiddentxt">
            <li>
                <div>2017</div>
                <div>Matriculated at Oakhill School Knysna.</div>
            </li>
            <li>
                <div>2018 - 2021</div>
                <div>BSc Computer Science at Stellenbosch University</div>
            </li>
        </ul>
    </div>
    <div class="box">
        <h3>Languages and<br>Technologies</h3>
        <ul id="lan" class="hiddentxt">
            <li>
                Proficient
                <ul>
                    <li>Java</li>
                    <li>Javascript</li>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Angular</li>
                    <li>C</li>
                    <li>SQL</li>
                    <li>PL/SQL</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Git</li>
                    <li>Flask</li>
                </ul>
            </li>
            <li>
                Exposure
                <ul>
                    <li>C#</li>
                    <li>AWS</li>
                    <li>MariaDB</li>
                    <li>MySQL</li>
                    <li>Maven</li>
                    <li>R</li>
                    <li>JUnit</li>
                    <li>CI/CD (Jenkins)</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="box">
        <h3>Relevant university<br>subjects</h3>
        <ul class="hiddentxt">
            <li>
                <div>Databases and Web-Centric Programming</div>
                <div>86%</div>
            </li>
            <li>
                <div>Program design</div>
                <div>72%</div>
            </li>
            <li>
                <div>Data structures and algorithms</div>
                <div>71%</div>
            </li>
            <li>
                <div>Computer Networks</div>
                <div>66%</div>
            </li>
            <li>
                <div>Concurrency</div>
                <div>63%</div>
            </li>
            <li>
                <div>Introduction to Computer Science</div>
                <div>82%</div>
            </li>
        </ul>
    </div>
</div>


<p>
    (081) 555-2285<br>
    johanhay98@gmail.com<br>
    github.com/jhay98
</p>

{% endblock %}